
{% extends "minibase.html" %}

{% block content %}

<form class="layui-form" style="width:80%;height: 580px">
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">应用英文名</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input enName" lay-verify="required" placeholder="请输入应用英文名">
		</div>
	</div>

	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">应用中文名</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input cnName" lay-verify="required" placeholder="请输入应用中文名">
		</div>
	</div>

	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">业务线 </label>

        <div class="layui-input-block">


            <select  lay-filter="required" id="groups" name="groups" class="layui-input groups"lay-search>
                <option value="">请选择业务线</option>

                {% for g in group %}
                <option value="{{g.id}}" name="asset_group">{{g.enname}}</option>
            {% endfor %}			


            </select>
          </div>

	</div>


    <div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">负责人</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input manager" lay-verify="required" placeholder="请输入负责人">
		</div>
	</div>


	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button class="layui-btn " lay-submit="" lay-filter="addUser">立即添加</button>
			<button type="reset" class="layui-btn  layui-btn-primary">取消</button>
		</div>
	</div>
</form>



{% endblock content %}


{% block script %}

<script>layui.use(['form','layer'],function(){
    var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery;







    form.on("submit(addUser)",function(data){
        //弹出loading
        var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
        // 实际使用时的提交信息
        // $.post("上传路径",{
        //     userName : $(".userName").val(),  //登录名
        //     userEmail : $(".userEmail").val(),  //邮箱
        //     userSex : data.field.sex,  //性别
        //     userGrade : data.field.userGrade,  //会员等级
        //     userStatus : data.field.userStatus,    //用户状态
        //     newsTime : submitTime,    //添加时间
        //     userDesc : $(".userDesc").text(),    //用户简介
        // },function(res){
        //
        // })


        var $enName = $(".enName").val();
        var $cnName = $(".cnName").val();
        var $appdomain_info = $("#groups").val();
        var $manager = $(".manager").val();
        $.ajax({
            url:'/cmdb/add_appinfo/',//发出请求
            type:'post',
            data:{"enname":$enName,"cnname":$cnName,"appdomain_info":$appdomain_info,"manager":$manager},
            dataType:"json",
            success:function (res)  {
                console.log(res)
                console.log(res.status)

                if(res.status==1){//返回1说明登录成功

                    layer.msg(res.msg,{time:300});
                    setTimeout(function(){                    
                    layer.closeAll("iframe");
                    //刷新父页面
                    parent.location.reload();},300)



                            }
                if(res.status==0){
                    layer.msg(res.msg,function() {time:1000})
                }
            }

        });

        return false;

             
             
             
             


        })

    //格式化时间



})</script>
{% endblock script %}