
{% extends "base.html" %}

{% block content %}

<div class="layui-tab-item layui-show">
    <div class="main_hd with_extra">
        <h2>机房信息管理
        </h2>
    </div>


        <form class="layui-form">
            <blockquote class="layui-elem-quote quoteBox mod_default_box">
                <form class="layui-form">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input searchVal" placeholder="请输入机房名称" />
                        </div>
                        <a class="layui-btn  search_btn" data-type="reload">搜索</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn addNews_btn">添加</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn  delAll_btn">批量删除</a>
                    </div>
                </form>
            </blockquote>
            <table id="userList" lay-filter="userList" lay-skin="line"></table>
        
            <!--操作-->
            <script type="text/html" id="userListBar">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-primary layui-btn-xs " lay-event="del">删除</a>
            </script>
        </form>










    
</div>




{% endblock content %}




{% block script %}
<script>
layui.use(['form', 'layer', 'table', 'laytpl'], function() {
	var form = layui.form,
		layer = parent.layer === undefined ? layui.layer : top.layer,
		$ = layui.jquery,
		laytpl = layui.laytpl,
		table = layui.table;

	//用户列表
	var tableIns = table.render({
		elem: '#userList',
		url: '/api/idc_info',
		cellMinWidth: 95,
		page: true,
		id: "userListTable",
        defaultToolbar: ['filter', 'exports', 'print'],
        limit : 10,
        limits : [10,15,20,25],
		cols: [
			[{
					type: "checkbox",
					fixed: "left"
				},
				{
					field: 'idcName',
					title: '机房名称',
					align: "center"
				},
				{
					field: 'idcNum',
					title: '机房编号',
					align: 'center',
				},
				{
					field: 'idcAddress',
					title: '机房地址',
					align: 'center',
				},

				{
					title: '操作',
					minWidth: 200,
					templet: '#userListBar',
					fixed: "right",
					align: "center"
				}
			]
		]
	});

	//搜索【此功能需要后台配合，所以暂时没有动态效果演示】
	$(".search_btn").on("click", function() {
		if ($(".searchVal").val() != '') {
            console.log($(".searchVal").val())
			table.reload("userListTable", {
				page: {
					curr: 1 //重新从第 1 页开始
				},
				where: {
					idcName: $(".searchVal").val() //搜索的关键字
				}
			})
		} else {
			layer.msg("请输入搜索的内容");
		}
	});

	//添加机房
	function addUser() {






		var index = layui.layer.open({
			title: "添加机房",
			type: 2,
			area: ['50%', '50%'],
			fixed: false, //不固定
			maxmin: true,
			content: "/cmdb/add_idc",
			success: function(layero, index) {
				var body = layui.layer.getChildFrame('body', index);




				{% comment %} setTimeout(function() {
					layui.layer.tips('test', '.layui-layer-setwin .layui-layer-close', {
						tips: 3
					});
				}, 500)  {% endcomment %}
			}
		})



		//layui.layer.full(index);
		window.sessionStorage.setItem("index", index);
		//改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
	
	}



    function editUser(edit) {
		var index = layui.layer.open({
			title: "修改机房",
			type: 2,
			area: ['50%', '50%'],
			fixed: false, //不固定
			maxmin: true,
			content: "/cmdb/edit_idc",
			success: function(layero, index) {
				var body = layui.layer.getChildFrame('body', index);

                if (edit) {
                    body.find(".idcName").val(edit.idcName); //idcName
                    body.find(".idcNum").val(edit.idcNum); //idcNum
                    body.find(".idcAddress").val(edit.idcAddress); //idcAddress
                    form.render();
                }



				{% comment %} setTimeout(function() {
					layui.layer.tips('test', '.layui-layer-setwin .layui-layer-close', {
						tips: 3
					});
				}, 500)  {% endcomment %}
			}
		})



		//layui.layer.full(index);
		window.sessionStorage.setItem("index", index);
		//改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
	
	}


	$(".addNews_btn").click(function() {
		addUser();
	})

	//批量删除
	$(".delAll_btn").click(function() {
		var checkStatus = table.checkStatus('userListTable'),
			data = checkStatus.data,
			namelist = [];
		if (data.length > 0) {
			for (var i in data) {
				namelist.push(data[i].idcName);

			}
			layer.confirm('确定删除选中的机房？', {
				icon: 3,
				title: '提示信息'
			}, function(index) {
                $.post("/cmdb/del_idc/",{
                    idclist : JSON.stringify(namelist)  //将需要删除的newsId作为参数传入
				},function(data){
				tableIns.reload();
				layer.close(index);
				})




			})
		} else {
			layer.msg("请选择需要删除的机房");
		}
	})

	//列表操作
	table.on('tool(userList)', function(obj) {
		var layEvent = obj.event,
			data = obj.data;

		if (layEvent === 'edit') { //编辑
			editUser(data);
		}  else if (layEvent === 'del') { //删除
			layer.confirm('确定删除此机房？', {
				icon: 3,
				title: '提示信息'
			}, function(index) {
				 $.post("/cmdb/del_idc/",{
                    idcname : data.idcName  //将需要删除的newsId作为参数传入
				},function(data){
				tableIns.reload();
				layer.close(index);
				})
			});
		}
	});

})
</script>
{% endblock script %}