
{% extends "minibase.html" %}

{% block content %}

<form class="layui-form" style="width:80%;">
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">机房名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input idcName" lay-verify="required" placeholder="请输入机房名称">
		</div>
	</div>

	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">机房编号</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input idcNum" lay-verify="required" placeholder="请输入机房编号">
		</div>
	</div>

	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">机房地址</label>
		<div class="layui-input-block">
			<textarea placeholder="请输入机房地址" class="layui-textarea idcAddress"></textarea>
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button class="layui-btn " lay-submit="" lay-filter="addUser">立即添加</button>
			<button type="reset" class="layui-btn  layui-btn-primary">取消</button>
		</div>
	</div>
</form>



{% endblock content %}


{% block script %}

<script>
layui.use(['form','layer'],function(){
    var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery;

    form.on("submit(addUser)",function(data){
        var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});

        var $idcname = $(".idcname").val();
        var $idcnum = $(".idcnum").val();
        var $idcaddress = $(".idcaddress").val()
        $.ajax({
            url:'/cmdb/add_idc/',
            type:'post',
            data:{"idcname":$idcname,"idcnum":$idcnum,"idcaddress":$idcaddress},
            dataType:"json",
            success:function (res)  {
                if(res.status==1){
                    layer.msg(res.msg,{time:300});
                    setTimeout(function(){
                    layer.closeAll("iframe");
                    parent.location.reload();},300)
                }
                if(res.status==0){
                    layer.msg(res.msg,function() {time:1000})
                }
            }

        });

        return false;
    })

    function filterTime(val){
        if(val < 10){
            return "0" + val;
        }else{
            return val;
        }
    }
    var time = new Date();
    var submitTime = time.getFullYear()+'-'+filterTime(time.getMonth()+1)+'-'+filterTime(time.getDate())+' '+filterTime(time.getHours())+':'+filterTime(time.getMinutes())+':'+filterTime(time.getSeconds());

})</script>
{% endblock script %}